.item {
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid silver;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgb(34 60 80 / 20%), -2px 4px 8px 0 rgb(34 60 80 / 20%);
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 30px;
}
.avatar {
  margin-right: 30px;
}
.name {
  font-size: 30px;
  font-weight: 700;
}
